.main {
  width: 100%;
  position: absolute;
  top: 5%;
  bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Rectangle {
  height: 416px;
  width: 412px;
  margin: 0 12px 0 12px;

  /* Black (Gradient) */

  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  border-radius: 30px;
  padding: 32px 40px;
}

.StarContainer {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  background: #262e38;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Star {
  width: 16.75px;
  height: 16px;
}

.Header {
  height: 43px;
  margin-top: 30px;
  margin-bottom: 7px;

  /* Heading (Large) */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #ffffff;
}

.Text {
  /* Body */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: start;
  /* or 160% */
  color: #969fad;
}

.rateBox {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.SubmitButton {
  margin-top: 32px;
  padding: 12px 0 12px 0;
  color: #ffffff;
  /* Orange */
  background: #fc7614;
  border-radius: 22.5px;
}

.SubmitButton:hover {
  background: #ffffff;
  color: #fc7614;
}

.Submit {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 2px;
  text-align: center;
  align-items: center;
}

.RateContainer {
  width: 51px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: #262e38;
  color: #7c8798;
}

.RateContainer:hover {
  background: #fc7614;
  color: white;
}

.Active {
  background: #7c8798;
  color: white;
}

.rateText {
  /* Rating */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.2px;

  /* Medium Gray */
}

@media (max-width: 400px) {
  .Rectangle {
    height: 360px;
    width: 327x;
    padding: 24px;
    border-radius: 15px;
    margin: 0 24px 0 24px;
  }

  .StarContainer {
    height: 40px;
    width: 40px;
  }

  .Star {
    width: 14px;
    height: 14px;
  }

  .Header {
    height: 30px;
    margin-top: 26px;
    margin-bottom: 7px;
    font-size: 24px;
    line-height: 30px;
  }

  .Text {
    font-size: 13px;
    line-height: 22px;
  }

  .RateContainer {
    width: 42px;
    height: 42px;
  }

  .rateText {
    font-size: 14px;
    line-height: 22px;
  }

  .rateBox {
    margin-top: 20px;
  }

  .SubmitButton {
    margin-top: 24px;
  }

  .Submit {
    font-size: 14px;
    line-height: 16px;
  }
}
