.Rectangle {
  height: 416px;
  width: 412px;
  position: absolute;
  left: 514px;
  top: 195px;

  /* Black (Gradient) */

  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  border-radius: 30px;
  padding: 32px 40px;
}

.StarContainer {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  background: #262e38;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Star {
  width: 16.75px;
  height: 16px;
}

.Header {
  height: 43px;
  margin-top: 30px;
  margin-bottom: 7px;

  /* Heading (Large) */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #ffffff;
}

.Text {
  /* Body */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: start;
  /* or 160% */
  color: #969fad;
}

.rateBox {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.SubmitButton {
  margin-top: 32px;
  padding: 12px 0 12px 0;
  color: #ffffff;
  /* Orange */
  background: #fc7614;
  border-radius: 22.5px;
}

.SubmitButton:hover {
  background: #ffffff;
  color: #fc7614;
}

.Submit {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 2px;
  text-align: center;
  align-items: center;
}

.RateContainer {
  width: 51px;
  height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: #262e38;
  color: #7c8798;
}

.RateContainer:hover {
  background: #fc7614;
  color: white;
}

.Active {
  background: #7c8798;
  color: white;
}

.rateText {
  /* Rating */
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.2px;

  /* Medium Gray */
}
