.main {
  width: 100%;
  position: absolute;
  top: 5%;
  bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Rectangle {
  height: 416px;
  width: 412px;
  margin: 0 12px 0 12px;

  /* Black (Gradient) */

  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  border-radius: 30px;
  padding: 45px 20px;
}

.Img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.Rate {
  background: #262e38;
  border-radius: 22.5px;
  height: 32px;
  width: 183px;
  margin: auto;
  border-radius: 22.5px;
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fc7614;
}

.Header {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  margin-top: 32px;
  margin-bottom: 7px;
  color: #ffffff;
  text-align: center;
}

.Text {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */

  text-align: center;
  margin: 0px 35px 0 33px;

  /* Light Grey */

  color: #969fad;
}

@media (max-width: 400px) {
  .Rectangle {
    height: 360px;
    width: 327x;
    padding: 24px;
    border-radius: 15px;
  }

  .Rate {
    margin-top: 15px;
    font-size: 12px;
    line-height: 22px;
    padding: 2px;
  }

  .Img {
    margin-top: 10px;
    margin-bottom: 35px;
    height: 96px;
  }

  .Header {
    font-size: 22px;
    margin-top: 28px;
  }

  .Text {
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0;
  }
}
